<div class="container-logout">
  <h1>Goodbye <%= @user.name %>!</h1>
  <h2>Logging Out</h2>
</div>

<script type="text/JavaScript">
      setTimeout("location.href = 'http://localhost:9292/user/login';",1000);
</script>